.cartBox {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0 20px;
  margin: 50px 0;
}

input {
  text-align: center;
}

.headCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
span {
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;


  &:hover {
    background-color: #e67779;
    color: #fff !important;
    box-shadow: 0px 5px 10px rgba(color #000000, alpha 0.3);
    
  }
}
.quantity {
  display: flex;
  justify-content: space-between;
}
input {
  margin: 0 20px;
}
tbody {
  border-top: 1px solid #c61d21;
  border-bottom: 1px solid #c61d21;
}
td {
  border-bottom: 0;
  text-align: center;
  vertical-align: middle;
}
img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}



.payment-form {
  
  top: 50%;
  left: 50%;
  transform: translate(-0%, -0%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  width: 1265px;
  z-index: 2;
  text-align: center;
}

#container{
  border: 2px solid black;
}

.form-label {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

.form-input {
  width: 30%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 15px;
}

.form-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #0f7d14;
}

.success-message {
  margin-top: 20px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
}

/*.success-message {
  margin-top: 20px;
  color: green;
}

.failure-message {
  margin-top: 20px;
  color: red;
}*/