nav {
  
 position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    left: 0;
    z-index: 20;
    background: linear-gradient(to right,#950b0b, #440606);
    color: #fff;
    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
         width: 100%; 
        
    }
}
 
ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 0;
    

}
li {
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
