<app-header></app-header>
 
 
    <br />
    <br />
    <br />
    <section id="acceuilSection">
      <div id="slider">
        <figure>
          <img src="../../assets/img2.png" />
          <img src="../../assets/img1.png" />
          <img src="../../assets/img3.png" />
          <img src="../../assets/img5.png" />
        </figure>
      </div>
    </section>
    <section id="projects">
      <div class="projects container">
        <div class="projects-header">
          <h1 class="section-title">Our <span>Products</span></h1>
        </div>
        <div class="all-projects">
          <div class="project-item">
            <div class="project-info">
              <h1>Product 1</h1>
            </div>
            <div class="project-img">
              <img src="../../assets/dd.jpg" />
            </div>
          </div>
          <div class="project-item">
            <div class="project-info">
              <h1>Product 2</h1>
            </div>
            <div class="project-img">
              <img src="../../assets/ttt.jpg" />
            </div>
          </div>
          <div class="project-item">
            <div class="project-info">
              <h1>Product 3</h1>
            </div>
            <div class="project-img">
              <img src="../../assets/mm.jpg" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="contact">
      <div class="contact container">
        <div>
          <h1 class="section-title">Contact <span>info</span></h1>
        </div>
        <br><br>
        <div class="contact-items">
          <div class="contact-item">
            <div class="icon">
              <img src="https://img.icons8.com/bubbles/100/000000/phone.png" />
            </div>
            <div class="contact-info">
              <h1>Phone</h1>
              <h2>+216 50 303 224</h2>
              <h2>+216 50 303 224</h2>
            </div>
          </div>
          <div class="contact-item">
            <div class="icon">
              <img
                src="https://img.icons8.com/bubbles/100/000000/new-post.png"
              />
            </div>
            <div class="contact-info">
              <h1>Email</h1>
              <h2>aloui.sghair@gmail.com</h2>
              <h2>lass@gmail.com</h2>
            </div>
          </div>
          <div class="contact-item">
            <div class="icon">
              <img
                src="https://img.icons8.com/bubbles/100/000000/map-marker.png"
              />
            </div>
            <div class="contact-info">
              <h1>Address</h1>
              <h2>isims, sfax, Tunisie</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="footer">
        <div class="footer container">
          <div class="brand">
            <h1 style="color: red;">MARKET SERVICES</h1>
          </div>
          <h2>Your Complete Web Solution</h2>
          <div class="social-icon">
            <div class="social-item">
              <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
            </div>
            <div class="social-item">
              <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
            </div>
          </div>
        </div>
      </section><br><br>

 