<nav class="navbar navbar-light bg-light p-2">
    <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
        <a class="navbar-brand" href="#">
            Admin Dashboard
        </a>
        <button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="col-12 col-md-4 col-lg-2">
        <input class="form-control form-control-dark" type="text" placeholder="Search" aria-label="Search">
    </div>
  
</nav>
<div class="container-fluid">
    <div class="row justify-content-center align-items-center vh-100">
        <nav id="sidebar" class="col-md-2 col-lg-2 d-md-block bg-light sidebar collapse ml-2">

            <div class="position-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <button type="button" class="btn btn-primary" (click)="goToUsersList()">
                            <i class="fas fa-users"></i> Users  <!-- Icône d'utilisateurs Font Awesome avec le texte "Users List" -->
                          </button>
                          
                    </li>
                    <BR>
                    <li><button type="button" class="btn btn-danger" (click)="logout()">
                        <i class="fas fa-sign-out-alt"></i> Logout <!-- Icône de déconnexion Font Awesome avec le texte "Logout" -->
                      </button>
                      </li>
                  </ul>
            </div>
        </nav>
        
        <div class="col-md-8">
            <div class="card">
                <h5 class="card-header">Latest Orders</h5>
                <div class="card-body">
                    <div class="alert alert-success" role="alert" *ngIf="success"> Your Order is Validate Successfully 
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">OrderID</th>
                                <th scope="col">Product</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Total</th>
                                <th scope="col">Date</th>
                                <th scope="col">Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let order of orders">
                                    <td>{{ order.id }}</td>
                                    <td>
                                        <ul>
                                            <li *ngFor="let product of order.products">
                                              <span class="product-title">{{ product.title }}</span><br> - Quantity: <span class="quantity" style="color:red;"  >{{ product.quantite }}</span>
                                            </li>
                                          </ul>
                                    </td>
                                    <td>{{ order.user.nom }} &nbsp;{{ order.user.prenom }}</td>
                                    <td>{{ order.totalAmount | number: '1.2-2' }}</td>
                                    <td>{{ order.orderDate | date: 'yyyy-MM-dd HH:mm:ss' }}
                                    </td>
                                   
                                  
                                <td>
                                    <div [id]="'confirmationAlert' + order.id" class="alert alert-danger" role="alert" style="display: none;">
                                        Êtes-vous sûr de vouloir supprimer cette commande ?
                                        <button type="button" class="btn btn-danger" (click)="deleteOrder(order.id)">Confirmer</button>
                                        <button type="button" class="btn btn-secondary" (click)="cancelDelete(order.id)">Annuler</button>
                                      </div>
                                    <button type="button" class="btn btn-link btn-lg btn-rounded text-success"   (click)="validateOrder(order.id)" >
                                        <i class="fas fa-check"></i>
                                      </button>
                                      
                                    <button type="button" class="btn btn-link btn-lg btn-rounded text-danger" (click)="deleteOrder(order.id)">
                                        <i class="fas fa-trash"></i>
                                      </button>
                                          
                                </td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>