<nav class="navbar navbar-light bg-light p-3">
    <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
        <a class="navbar-brand" href="#">
            Admin Dashboard
        </a>
        <button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="col-12 col-md-4 col-lg-2">
        <input class="form-control form-control-dark" type="text" placeholder="Search" aria-label="Search">
    </div>
    <div class="col-12 col-md-5 col-lg-8 d-flex align-items-center justify-content-md-end mt-3 mt-md-0">

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
              Hello, Admin
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
               <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row justify-content-center align-items-center vh-100">
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                        <span class="ml-2">Customers</span>
                      </a>
                    </li>
                  </ul>
            </div>
        </nav>
        <div class="col-md-8">
            <div class="card">
                <h5 class="card-header">Latest Orders</h5>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">OrderID</th>
                                <th scope="col">Product</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Total</th>
                                <th scope="col">Date</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let order of orders">
                                    <td>{{ order.id }}</td>
                                    <td>
                                        <ul>
                                            <li *ngFor="let product of order.products">
                                              <span class="product-title">{{ product.title }}</span><br> - Quantity: <span class="quantity" style="color:red;"  >{{ product.quantite }}</span>
                                            </li>
                                          </ul>
                                    </td>
                                    <td>{{ order.user.nom }} &nbsp;{{ order.user.prenom }}</td>
                                    <td>{{ order.totalAmount | number: '1.2-2' }}</td>
                                    <td>{{ order.orderDate | date: 'yyyy-MM-dd HH:mm:ss' }}
                                    </td>
                                   
                                  
                                <td>
                                    <button type="button" class="btn btn-link btn-lg btn-rounded text-success" >
                                        <i class="fas fa-check"></i>
                                      </button>
                                    <button type="button" class="btn btn-link btn-lg btn-rounded text-danger" >
                                        <i class="fas fa-trash"></i>
                                      </button>
                                               
                                </td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>